#resultBox {
    border: 2px solid #ddd;
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#image {
    max-width: 100%;
    margin: 1em auto;
}

#bottomText {
    text-align: center;
}
