/* You can add global styles to this file, and also import other style files */
html, body
{
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Anonymous Pro', monospace;
    font-size: 125%;
    color: #ddd;
    background-color: #222;
}
